/*** ----------*** :: IMPORT => FONT :: ***---------- ***/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.font-main {
  font-family: "Roboto", sans-serif;
}


/*** ----------*** :: IMPORT => TAILWIND :: ***---------- ***/
@import "tailwindcss";


/*** ----------*** :: IMPORT => DAISYUI :: ***---------- ***/
@plugin "daisyui" {
  themes: light --default;
}


/*** ----------*** :: BTN => MAIN :: ***---------- ***/
.btn-main {
  @apply py-3 rounded-lg text-white font-semibold transition-all duration-300 shadow-lg bg-[#e67a37] hover:bg-[#d35507]
}

/*** ----------*** :: CUSTOM SHADOW :: ***---------- ***/
.custom-shadow {
  box-shadow:
    0 25px 50px -12px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(229, 231, 235, 0.6);
}