/*** ----------*** :: IMPORT => FONT :: ***---------- ***/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.font-main {
  font-family: "Roboto", sans-serif;
}


/*** ----------*** :: IMPORT => TAILWIND :: ***---------- ***/
@import "tailwindcss";


/*** ----------*** :: IMPORT => DAISYUI :: ***---------- ***/
@plugin "daisyui" {
  themes: light --default;
}